<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Code Passion!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello.css' %}" />

    </head>

    <body>

        <div id="container">
            <div id="header">
                <div id="logo"><span style="color: #20C20E;">coded</span>mind.com</div>
                <div id="nav_items">
                    <ol>
                        <li><a href="#">front-end</a></li>
                        <li><a href="#">back-end</a></li>
                        <li><a href="#">python</a></li>
                        <li><a href="#">linux</a></li>
                        <div style="clear: both;"></div>
                    </ol>
                </div>
            </div>

            <div id="header_image">
                <img id="header_cropped" src="{% static 'img/header_img.png' %}" />
            </div>

            <div id="wrapper">

                <div id="content">
                    <h1>Recent blog posts:</h1>
                   {% if article_list %}
                   {% for article in article_list %} 


                    <article class="blog_post">
                        <figure class="div_thumbnail">
                            <img class="thumbnail" src={{article.img_path}}></img>
                        </figure>

                        <article style="float: left;">
                            <header><h2 class="blog_title"> {{article.title|striptags}}  </h2></header>
                            <p class="description"><i> {{article.article|striptags}} </i></p>
                        </article>

                        <div style="clear: both;"></div>
                    </article>
                    
                   {% endfor %}
                   {% endif %}
                </div>

                <div id=side_panel>

                    <div id="about_me">
                        <h2>Hello!</h2>
                        <p>I'm Kamil. I am a here to share my knowledge and help You get started with web development!<br />I hope the information You find here will be helpful, enjoy! </p>
                    </div>
                    <div id="social_container">
                        <h2 style="text-align: center;">Check out my socials!</h2>
                        <div class="social_icon" id="icon_fb"><i class="icon-facebook"></i></div>
                        <div class="social_icon" id="icon_tw"><i class="icon-twitter"></i></div>
                        <div style="clear:both;" ></div>
                        <div class="social_icon" id="icon_ln"><i class="icon-linkedin-squared"></i></div>
                        <div class="social_icon" id="icon_yt"><i class="icon-youtube"></i></div>
                        <div style="clear:both;"></div>
                    </div>
                
                </div>

                <div style="clear:both;"></div>

            </div>

        </div>

    </body>
</html>