<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>INDEX PAGE</h1>
        {% if movies_list %}
        <form action="% url 'charpicker:vote' movies_list.id %" method="post">
        {% csrf_token %}
            <ul>
                {% for movie in movies_list %}
                <li>
                    <label>
                        {{movie.title}} <br /> 
                        {% for char in movie.character_set.all %}
                            <input type="radio" name="{{ movie.title }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <ol for="choice{{ forloop.counter }}">{{char.char_name}}</ol> 
                    </label>    
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Vote">
        </form>
        {% else %}
        <p>No movie on list</p>

        {% endif %}
    </body>
</html>