<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>INDEX PAGE</h1>
        {% if movies_list %}
        <form action="{% url 'charpicker:vote' %}" method="post">
                {% for movie in movies_list %}
                {% csrf_token %}
                <fieldset>
                        {{movie.title}} <br /> 
                        {% for choice in movie.character_set.all %}
                            <input type="radio" name="{{ movie.title }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}">{{char.char_name}}</label> 
                        {% endfor %}
                </fieldset>
                {% endfor %}
            <input type="submit" value="Vote">
        </form>
        {% else %}
        <p>No movie on list</p>

        {% endif %}
    </body>
</html>