<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Learn Linux!</title>
        <meta name="description" content="Website contains informations about Linux." />
        <meta name="keywords" content="Linux, OS, Operating System, Learn Linux, terminal, bash, ubuntu, debian, mint, linux installation, commands" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/css2/styles.css' %}" type="text/css"/>
    </head>

    <body>

        <div id="container">
            <div id="logo">
                <h1>Learn Linux</h1>
            </div>

            <div id="menu">
                <div class="option">Home</div>
                <div class="option">Distros</div>
                <div class="option">Installation</div>
                <div class="option">Commands</div>
                <div class="option">Linus Torvalds</div>
                <div class="option">About project</div>
                <div style="clear:both;"></div>
            </div>

            <div id="topbar">
                <div id="topbarL">
                    {% load static %}
                    <img id="tux" src="{% static 'img/episode2/tux.png' %}" />
                </div>
                <div id="topbarR">
                    About the project: <br />
                    When You say: "I wrote a program that broke Windows, people give You a weird look and say: Hey, i get it with my OS, for free." - Linus Torvalds, creator of Linux. Welcome on the website on which You can learn what Linux is and You will choose a distro that fits Your preferences.
                </div>
            </div>

            <div id="sidebar">
                Home<br /> 
                Distros<br /> 
                Installation<br />
                Commands<br /> 
                Linus Torvalds<br /> 
                About project<br />
            </div>

            <div id="content">
                Why Linux? <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in facilisis nulla. Aliquam in elit bibendum, ornare nisl volutpat, mattis metus. Etiam fermentum arcu non turpis aliquet molestie nec quis odio. Proin et tempor urna, vel molestie ante. Maecenas ac vestibulum nunc. In nec justo tellus. Aliquam quis nisl vitae sem mattis dignissim. Vestibulum nec volutpat dui. Proin molestie eros ac turpis ornare suscipit. Nullam tincidunt, felis sit amet blandit vulputate, mi mi fermentum risus, non congue tortor ligula sed lacus. Duis eu ligula quis lacus egestas placerat. Ut fringilla metus dui, at tempor erat gravida sed. Donec accumsan suscipit ex tempus porttitor. Donec et ligula orci.
                <br /><br />
                Aliquam ultrices rutrum dui eu rutrum. In facilisis venenatis urna ac pellentesque. Phasellus diam turpis, accumsan vitae pharetra non, eleifend et arcu. Aenean interdum dictum dolor a rhoncus. Fusce leo arcu, porta non lorem quis, facilisis sodales mi. Quisque tincidunt, felis sed pharetra euismod, diam velit ultricies est, ut vehicula mi ex in nibh. Sed convallis feugiat nisi eu malesuada. Maecenas vel pellentesque risus, nec luctus eros. Sed sit amet mi nunc. Etiam a ante eu augue tristique tristique eget eu turpis. Donec molestie laoreet nibh quis viverra. Phasellus dapibus dolor eget consequat rutrum.
                <br /><br />
                Curabitur quis lorem quam. Nullam condimentum quam nibh, ut dictum mi tristique vitae. Phasellus malesuada semper varius. Ut efficitur leo vitae luctus aliquam. Aliquam mattis tortor mi, vitae laoreet quam fermentum eu. Vestibulum vitae nunc rutrum, vulputate purus quis, vestibulum mi. Duis a massa eu tortor egestas egestas vitae eu nunc. Etiam ut nunc ullamcorper, luctus massa non, porta nulla. Pellentesque egestas nec est sed porttitor. Integer vitae tristique turpis. Nam maximus, mauris sagittis consectetur laoreet, leo justo vehicula ex, vel bibendum dui lectus sit amet magna. Cras purus nibh, congue at ultricies sit amet, pellentesque ac erat. Mauris vel consectetur est. Pellentesque blandit turpis quis nisl pharetra scelerisque. Curabitur ut tristique tortor. Fusce posuere magna mi, placerat eleifend lectus semper ac.
                <br /><br />
                Ut elit ligula, ultrices id porttitor sed, aliquet in dolor. Aenean at tempor felis. Maecenas eros arcu, ultricies sed ex ac, sollicitudin accumsan nulla. Phasellus volutpat, purus vitae condimentum blandit, sem mi lacinia dolor, id sodales magna dolor ac dolor. Curabitur ullamcorper orci turpis, ac porta turpis dignissim a. Praesent sed lacinia felis. Duis pretium turpis sem, sed vulputate lacus convallis vitae. Curabitur cursus purus sit amet commodo accumsan. Cras aliquet massa vitae metus posuere, et ullamcorper sem bibendum. Nunc a lorem nec risus sagittis ornare. Proin at vulputate erat, id lobortis nisl. Cras sit amet ex at libero fringilla rhoncus. Nulla facilisi. Nulla ut hendrerit augue. Nulla eu diam malesuada, viverra diam eu, dapibus dui.
                <br /><br />
                Proin in euismod orci, quis interdum felis. Suspendisse venenatis mauris vel mauris placerat venenatis. Nam euismod nibh diam, in varius nulla ultrices eget. Cras ultrices euismod leo. Maecenas in orci volutpat, laoreet urna sed, gravida tortor. Curabitur gravida orci sit amet tellus ullamcorper aliquet. Donec a blandit justo, id mattis turpis. Fusce eu purus vulputate ante pulvinar pulvinar a in tortor. In convallis risus ac diam placerat placerat. Mauris accumsan tortor leo, nec laoreet purus accumsan eget. Suspendisse nec efficitur felis, vel ultricies tellus. Vivamus lacus quam, suscipit in tincidunt ac, suscipit ut augue. Nulla eu volutpat augue.
            </div>

            <div id="footer">
                Learn Linux - the best free operating system. Website online since 2021. &copy; All rights reserved
            </div>
        </div>
        

    </body>
</html>